body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .card-website:hover {
    columns: md -15px;
    background: #fafafa;
    cursor: pointer;
  }
  /* index.css */

/* Agrega margen entre columnas para mejor separación visual */
.col-md-4 {
    margin-bottom: 20px;
  }
  /* Estilos CSS para la línea divisora */
.divisora {
    border-left: 1px solid #ccc; /* Grosor y color de la línea */
    height: 100%; /* Altura igual a la altura de la columna */
  }
  